[submodule "riscv-tools/riscv-isa-sim"]
	path = riscv-tools/riscv-isa-sim
	url = https://github.com/riscv/riscv-isa-sim
[submodule "riscv-tools/riscv-fesvr"]
	path = riscv-tools/riscv-fesvr
	url = https://github.com/riscv/riscv-fesvr
[submodule "riscv-tools/riscv-tests"]
	path = riscv-tools/riscv-tests
	url = https://github.com/riscv/riscv-tests
[submodule "riscv-tools/riscv-torture"]
	path = riscv-tools/riscv-torture
	url = https://github.com/ucb-bar/riscv-torture
