*.o
*.a
toolchain/
work/
shortcmd/
software/.gitignore
software/HiFive1-UART-master/
software/SoftFloat-3d/
software/TestFloat-3d/
software/demo_i2c/
software/demo_spi/
software/demo_uart/
software/fpu_perf/
software/pwm_3_test/
software/test_float_try/
software/test_pmu/
software/test_rtc/
software/test_wdt/
software/uart_read/


